<div class="boga-footer-root">
  <div class="boga-cont">
    <div class="boga-footer-cont d-flex flex-column flex-md-row align-items-start justify-content-between">
      <div class="boga-logo-cont w-120 pb-lt-sm-30">
        <a routerLink="/" title="Boga">
          <img class="boga-footer-logo w-100-p wow fadeInUp" src="/assets/img/logo.png" data-wow-duration="1s"
            data-wow-delay="0.3s">
        </a>
      </div>
      <div class="boga-menus-cont d-flex flex-column flex-md-row">
        <div class="boga-menu-item-cont boga-menus">
          <ul class="menus d-flex flex-wrap p-0 m-0">
            <li class="position-relative overflow-h mb-12">
              <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Home" routerLink="" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <span class="line"></span>
                <span class="text">Home</span>
              </a>
            </li>
            <li class="position-relative overflow-h mb-12">
                <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Profile" routerLink="/profile" routerLinkActive="active">
                  <span class="line"></span>
                  <span class="text">Profile</span>
                </a>
              </li>
            <li class="position-relative overflow-h mb-12">
              <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Album" routerLink="/album" routerLinkActive="active">
                <span class="line"></span>
                <span class="text">Album</span>
              </a>
            </li>
            <li class="position-relative overflow-h mb-12">
              <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Contact" routerLink="/contact" routerLinkActive="active">
                <span class="line"></span>
                <span class="text">Contact</span>
              </a>
            </li>
            <li class="position-relative overflow-h mb-12">
              <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Home" href="/" routerLinkActive="active">
                <span class="line"></span>
                <span class="text">Privacy Policy</span>
              </a>
            </li>
            <li class="position-relative overflow-h mb-12">
              <a class="wow fadeInUp2" data-wow-duration="0.6s" title="Home" href="/" routerLinkActive="active">
                <span class="line"></span>
                <span class="text">Terms &amp; Conditions</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="boga-menu-item-cont socmed">
          <ul class="d-flex p-0 m-0">
            <li class="d-block mr-24">
              <a class="d-block" href="https://twitter.com" title="Twitter">
                <div class="wow fadeInUp2" data-wow-duration="0.6s">
                  <i class="bg-icon d-block w-20 h-20"
                    style="background-image: url('/assets/icons/twitter-brands.svg');"></i>
                </div>
              </a>
            </li>
            <li class="d-block mr-24">
              <a class="d-block" href="https://facebook.com" title="Facebook">
                <div class="wow fadeInUp2" data-wow-duration="0.6s">
                  <i class="bg-icon d-block w-20 h-20"
                    style="background-image: url('/assets/icons/facebook-f-brands.svg');"></i>
                </div>
              </a>
            </li>
            <li class="d-block mr-24">
              <a class="d-block" href="https://youtube.com" title="YouTube">
                <div class="wow fadeInUp2" data-wow-duration="0.6s">
                  <i class="bg-icon d-block w-20 h-20"
                    style="background-image: url('/assets/icons/youtube-brands.svg');"></i>
                </div>
              </a>
            </li>
            <li class="d-block mr-24">
              <a class="d-block" href="https://instagram.com" title="Instagram">
                <div class="wow fadeInUp2" data-wow-duration="0.6s">
                  <i class="bg-icon d-block w-20 h-20"
                    style="background-image: url('/assets/icons/instagram-brands.svg');"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="boga-menu-item-cont boga-address">
          <div class="title font-size-16 overflow-h mb-20">
            <span class="text wow qFadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">Boga Group</span>
          </div>

          <div class="content">
            <p class="overflow-h mt-12 mb-20">
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Green Lake City CBD
              </span>
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Blok J 001 - 006
              </span>
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Ketapang, Cipondoh
              </span>
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Tangerang 15147 Indonesia
              </span>
            </p>
            <p class="overflow-h mt-12 mb-20">
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Email: <a class="text" href="mailto:info@boga.com">info@boga.com</a>
              </span>
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                Phone: <a class="text" href="tel:+622129725559">+6221-29725559</a>
              </span>
              <span class="d-block text wow fadeInUp2" data-wow-delay=".5s" data-wow-duration="1s">
                <a class="text" href="http://www.boga.id">www.boga.id</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="boga-copyright font-size-12">
      <div class="copy-text overflow-h">
        <p class="text wow qFadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">© 2019. Boga Group.</p>
        <p class="text wow qFadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s"> All Rights Reserved. Website by <a
            class="text" href="https://yodea.org/" target="_blank" title="Yodea Inc.">Yodea Inc.</a></p>
      </div>
    </div>
  </div>
</div>