<div class="boga-timeline-item-root">
  <div class="boga-cont">
    <div class="boga-timeline-item-cont" [ngClass]="{'rtl': rtl, 'ltr': !rtl}">
      <div class="timeline-line"></div>
      <div class="timeline-year overflow-h">
        <div>{{item.year}}</div>
      </div>
      <div class="timeline-content-cont">
        <div class="content-text">
          <div class="content-title-body">
            <ng-container *ngFor="let body of item.body">
              <div>
                <div class="content-title">
                  <span class="wow fadeInUp2" data-wow-duration="0.6s" data-wow-delay="1s">{{body.title}}.</span>
                  <div class="accent-line wow" [ngClass]="{'lineInLeft': !rtl, 'lineInRight': rtl}"
                    data-wow-duration="1s" data-wow-delay="1s"></div>
                </div>
                <div class="content-body">
                  <p class="wow fadeInUp2" data-wow-duration="0.6s" data-wow-delay="1s" [innerHTML]="body.content"></p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="content-bg-image">
          <div class="bg-image wow boxInLeft">
            <div class="reveal-overlay wow boxInLeftOverlay" data-wow-duration="1s" data-wow-delay="0.6s"></div>
            <div class="images" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>